%h2 Usuários

%table
  %thead
    %th Nome
    %th Email
    %th Supervisor
    %th Liberado
    %th Ação
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, edit_user_path(user)
        %td= link_to user.email, edit_user_path(user)
        %td= 'X' if user.supervisor?
        - if user.confirmation_sent_at
          %td Sim
        - else
          %td Não
        %td= link_to 'Liberar', confirm_url(user)
