%h2 Usuários
.container.bgwhite
  %table#usersList{:class => "table table-striped", "data-source" => users_path(format: "json")}
    %thead
      %th Nome
      %th Email
      %th Instituição
      %th Perfil
      %th Liberado
      %th Data de cadastro
      %th Ação
