
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@import 'https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext';

#notice, #warning, #alert {
  background: rosybrown;
  margin:1em 0;
  padding: 4px;
}


body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 30px;
    text-align: center;
    background-color: #19b9e7;
    background-image: url(asset-path('1.jpg'));
}



strong { font-weight: 500; }

a, a:hover, a:focus {
  color: #19b9e7;
  text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
  margin-top: 10px;
  font-size: 38px;
    font-weight: 300;
    color: #555;
    line-height: 50px;
}

h3 {
  font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }


footer {
  color: #fff;
  padding: 40px 0 20px 0;
}

input {
  color: #000;
}

.bgwhite {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  padding: 50px 30px;
}
.bgwhite p, .bgwhite h1, .bgwhite h2, .bgwhite h3 {
  color: #000;
}
.bgwhite a {
  color: #1b8dae;
  border-bottom: dotted 1px;
}
.bgwhite a:hover {
  border-bottom: solid 1px;
}


.top-content{
  padding-top: 90px;
}
.top-content a strong, footer a strong {
    font-weight: 700;
    color: #fff;
}

.bg-login{
 /* background-image: url("../images/1.jpg");*/
}

.bg-login > p, a, h1, h2, h3 {
  color:#fff;
}

.form-box {
  padding-top: 50px;
}


/* ??????????????????????????????????? */
.btn-link-1 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 16px 20px 0 20px;
  background: #19b9e7;
  font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-2 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 15px 20px 0 20px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus,
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/* Top menu */
/* menu ferias vivas  */
.navbar-default .navbar-nav > li > a {
  font-size: 16px;
  color: #2296b7;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #2296b7;
}


/********* Top content *********/

/*.inner-bg {
    padding: 40px 0 170px 0;
}
*/
.top-content .text {
  color: #fff;
}

.top-content .text h1 { color: #fff; }


.description {
  margin: 20px 0 10px 0;
  color: #fff;
}

.description p {
 opacity: 0.7;
 font-size: 18px;
 color: #fff;
}

.description a {
  color: #fff;
  font-weight: 700;
}
.description a:hover,
.description a:focus { border-bottom: 1px dotted #fff; }

.description-left{
  margin: 11px 40px 0 15px;
  color: #fff;
  font-size: 18px;
  opacity: 0.7;
  text-align: justify;
}
.form-box {
  padding-top: 40px;
  color: #fff;
}

.sign-in-form {
  overflow: hidden;
  padding: 40px 25px 30px 25px;
  background: #354F71;
  background: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 20px;
  text-align: left;
  margin-bottom: 50px;
}
.sign-in-form label {
  color: #fff;
}
.sign-in-form input, .sign-in-form select, .sign-in-form option {
  color: #000;
  font-size: 16px;
}

/*
Deixar borda quando tem erro no form **ver js
.form-bottom form .input-error {
  border-color: #19b9e7;
}*/

.form-bottom p { opacity: 0.8; color: #fff; }



/* ---------------- Forms e tableas paginas internas --------------------*/

/******* botões ****** */

.btn-export {
  color: #000;
  background-color: red;
  border-color: #255625;
}

.btn-export:focus,
.btn-export.focus {
  color: #000;
  background-color: black;
  border-color: #255625;
}
.btn-export:hover {
  color: #000;
  background-color: black;
  border-color: #398439;
}

.btn-excluir,
.btn-excluir a,
.bgwhite .btn-excluir a,
a.btn.btn-lg.btn-danger.btn-excluir {
  color: #fff;
}
a.btn-danger, a.btn-success, a.btn-info, a.btn-primary {
  color: #fff;
}



/* *********** formularios - Gambiarras ********/

/*
.form-meu input, .form-meu select, .form-meu option {
  width: 100%;
}
*/
.form-meu .form-group {
  text-align: left;
/*  width: 33.33333333%; */
  font-size: 17px;
}

.form-info, .form-info p, p.form-info {
  text-align: left;
  color: #2296b7;
  font-size: 17px;
  padding: 0 15px;
}
.form-info h1, h1.form-info {
  text-align: left;
  color: #0e6680;
  font-size: 17px;
  font-weight: 700;
}
.form-info a, .form-info > a,
.form-info a strong, .form-info > a > strong,
a.form-info {
  font-weight: 700;
  color: #2296b7;
}
.form-info strong, .form-info > strong {
  color: #1f7a95;
  font-weight: 700;
}


/* ************ Tabelas ********* */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  text-align: left;
}

/*  ****** ul details ****  */
.details {
  text-align: left;
}

table.dataTable tbody tr.odd {
    background-color: #D7EDF4;
}
