%p
  Bem vindo #{@email}!
%p Obrigado por se cadastrar no Projeto de Relatório de Acidentes de Turismo coordenado pela Associação Férias Vivas.
%p Se tiver dúvidas sobre o funcionamento da plataforma on-line, entre em contato pelo email rbat@feriasvivas.org.br.
%p Você pode confirmar seu cadastro no link abaixo:
%p= link_to 'Confirmar', confirmation_url(@resource, confirmation_token: @token)
