%p
  Olá #{@resource.email}!
%P Foi solicitada a alteração da sua senha. Isto pode ser feito no link abaixo:
%p= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token)
%p Se você não solicitou alteração, por favor, ignore esta mensagem.
